/* .rigth {
    float:left;
    width: 100%;
    height: 700px;
    /*margin-right: 20px;
    /* background-color: brown; */

.border-sg {
    border-top: solid 1px blueviolet;
    border-bottom: solid 1px blueviolet;
    width: 100%;

}