/* .rigth {
    float:left;
    width: 100%;
    height: 700px;
    /*margin-right: 20px;
    /* background-color: brown; */

.bom {
    color: red;
    border: 1px solide blueviolet;
    width: 150px;
    height: 150px;
}